//
//  .gitignore
//  Soundtrack
//
//  Created by Brian Barragan-Cid on 6/22/26.
//

Config.xcconfig
# Xcode user data
build/
*.perspectivev3
*.xcworkspace
xcuserdata/
*.xccheckout
*.xcscm

# Swift Package Manager
.build/
Package.resolved

# Derived Data
DerivedData/

# OS X metadata
.DS_Store
